aiohttp==3.11.16
asyncpg==0.31.0
fastapi==0.115.12
google-cloud-texttospeech==2.34.0
google-genai==1.65.0
google-generativeai==0.8.4
livekit==1.0.25
livekit-api==1.0.7
loguru==0.7.3
pipecat-ai==0.0.104
python-dateutil
python-dotenv==1.1.0
pytz==2024.2
redis==6.2.0
requests
sarvamai
torch
torchaudio
uvicorn==0.34.3